<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eagle.smarthome"
    android:versionCode="2"
    android:versionName="2.0.0.1" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />    

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
          </activity>
        
        <activity
            android:name=".DeviceControlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
        <activity
            android:name=".TaskSetActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
         <activity
            android:name=".TaskItemModifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
        <activity
            android:name=".MonitorSetActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
       <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
    </application>
</manifest>

